@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark : #161B33 ;
  --light : #F1DAC4;
  --primary-color: #70A0AF;
  --secondary-color: #474973;
  --text-color: #0D0C1D;
  --bg-color: #ededed;
}

body {
  margin: 0;
  font-family: 'Mukta' , 'Roboto', sans-serif;;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CONTACT-LIST COMPONENT */
.contact-list{
  display:flex;
  flex-direction: column;
  height:100%;
  width: 100%;
  flex:0.8;
}

.profile-info-div{
  display: flex;
  flex-direction: row;
  background: var(--bg-color);
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.profile-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.control-icons{
  width: min(40%, 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  gap: 1rem;
}

.control-icons svg{
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
}

.control-icons svg:hover{
  color: var(--secondary-color);
}

.search-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--primary-color);
  padding:10px ;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--light);
  border-radius: 16px;
  width: 100%;
  padding: 8px 8px;
}

.search-container button{
  all:unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width : 24px ;
  height: 100%;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 20px;
  transition: all 0.3s;
}

.search-container button:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.search-container button:hover svg{
  color: var(--light);
}

.search-container button>svg{
  font-size: 1.25rem;
}


.search-input{
  all:unset ;
  height: 2rem;
  flex-grow: 1;
  outline: none;
  padding-left: 15px;
  font-size: 17px; 
  margin: 0 10px;
}

.search-filters{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
}

.search-filters span{
  margin: 4px 0 0 0;
  padding: 0px 10px;
  border-radius: 20px;
  background: var(--light);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s;
}

.search-filters span.active{
  background: var(--secondary-color);
  color: var(--light);
}

.search-filters span:hover{
  background: var(--secondary-color);
  color: var(--light);
}


.contact-item{
  display: flex;
  flex-direction : row;
  border-bottom: 2px solid #a7f7f7;
  background: white;
  cursor: pointer;
  padding: 15px 12px;
  transition: all 0.3s;
}

.contact-item:hover{
  background: #f2f2f2;
}

.profile-icon{
  width: 38px;
  height: 38px;
}

.contact-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 19px;
}

.contact-name{
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color:black;
}

.message-text{
  font-style: italic;
  overflow-x: hidden;
  font-size: 14px;
  margin-top: 3px;
  color: var(--text-color);
}

/* CONVERSATION COMPONENT */

.conversation{
  display: flex ;
  flex-direction: column;
  height: 100%;
  flex: 2;
  background: #f6f7f8;
}

.profile-header{
  display: flex;
  flex-direction: row;
  background: #ededed;
  padding: 15px;
  align-items: center;
  gap : 10px;
}

.chat-box{
  display: flex;
  background: #f0f0f0;
  padding: 10px;
  align-items: center;
  bottom : 0;
}


.msg-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #e5ddd6;
}

.input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--light);
  border-radius: 16px;
  width: 100%;
  padding: 8px 8px;
}

.btn-group{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  padding: 6px;
  border-radius: 12px;
}

.btn-group button{
  all:unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width : 24px ;
  height: 100%;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 20px;
  transition: all 0.3s;
}

.btn-group button:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-group button svg{
  font-size: 1.25rem;
  color: var(--light);
}

.btn-group button:hover svg{
  color: var(--dark);
}

.msg-input{
  all:unset;
  
  margin : 0 4px;
  width: 100%;
}